* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
button {
  background-color: #30d5c8;
  padding: 16px 38px;
  border-radius: 50px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  opacity: 0.9;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.3s ease-in;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
span {
  color: #30d5c8;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.zoulu {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #0a0425;
  /* margin-left: 50px; */
  margin-top: 34px;
}
.headerDiv {
  display: flex;
  justify-content: space-between;
  width: 565px;
  margin-left: 160px;
  margin-top: 44px;
}
.categories {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0a042599;
}
.treatments {
  color: #0a0425;
  font-weight: 500;
}
.bookNowHeader {
  margin-top: 27px;
  margin-left: 60px;
  margin-bottom: 21px;
}
.login {
  text-decoration: none;
  margin-left: 32px;
  margin-top: 41px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #0a0425;
}
.cart {
  margin-top: 42px;
  margin-left: 21px;
  width: 24px;
  height: 24px;
}

.main {
  width: 100%;
  background-color: #faf7f3;
  display: flex;
  justify-content: space-between;
  padding: 60px;
  /* justify-content: flex-end; */
}
.mainLeft {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 40px;
}

.inHome {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 52px;
  width: 90%;
  color: #0a0425;
}
.selfCare {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3b3651;
  margin-top: 24px;
  width: 100%;
}
.mainLeft div:nth-child(3) {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.becomeZoulu {
  /* margin-left: 29px; */
  color: #30d5c8;
  background-color: #ffffff;
  border: 1px;
  border-color: #30d5c8;
  border-style: solid;
}
.pics {
  width: 40%;
  height: auto;
}

.secondMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enjoy {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 48px;
  width: 60%;
}

.container {
  /* background-color: darkgrey; */
  display: flex;
  flex-wrap: wrap;
  /* padding: 0px 50px; */
  width: 100%;
  justify-content: center;
}

.card {
  width: 16%;
  height: auto;
  /* border: 1px solid black; */
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.card:hover .title {
  transform: scale(1.2);
  transition: all 0.2s ease-in;
}
.title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
  position: absolute;
  bottom: 20%;
  text-decoration: none;
  /* left: 35%; */
}

.how {
  margin-bottom: 10px;
}
.noTravel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(10, 4, 37, 0.8);
  margin-bottom: 25px;
}

.container2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.grayDiv {
  position: absolute;
  width: 75%;
  height: 300px;
  background-color: #fafafa;
  bottom: -60px;
  left: 0px;
  z-index: -1;
}
.card2 {
  /* position: absolute; */
  width: 20%;
  padding: 40px;
  margin: 20px;
  box-shadow: 6px 8px 46px rgba(58, 68, 91, 0.25);
  border-radius: 20px;
  /* height: 250px; */
  background-color: #ffffff;
  cursor: pointer;
}
.coloredCard {
  background-color: #30d5c8;
}
.card2:hover {
  transform: scale(1.1);
}
.card2 div {
  width: 20%;
  margin-bottom: 30px;
}

.card2 span {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 24px;
  color: #0a0425;
}
.card2 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(19, 27, 56, 0.9);
  margin-top: 30px;
}

.thirdMain {
  background-color: #faf7f3;
  margin-left: 110px;
  margin-top: 150px;
  padding-left: 35px;
  width: 65%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.thirdAbsPic {
  position: absolute;
  width: 350px;
  height: 400px;
  right: -230px;
  bottom: -80px;
}

.thirdAbs {
  position: absolute;
  background-color: #30d5c8;
  width: 270px;
  height: 270px;
  bottom: 0px;
  z-index: -1;
  left: -110px;
}
.thirdHead {
  /* position: static; */
  margin-top: 100px;
  display: flex;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 48px;
}
.thirdHead img {
  height: 64px;
}

.jack {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 24px;
  color: #0a0425;
  margin-top: 26px;
}
.personal {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(10, 4, 37, 0.7);
  margin-top: 8px;
}
.lorem {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(10, 4, 37, 0.86);
  margin-top: 26px;
  width: 70%;
  height: auto;
}
.dots {
  margin-top: 35px;
  width: 100px;
  height: auto;
  margin-bottom: 50px;
}

.container3 {
  margin-top: 200px;
  width: 100%;
  padding: 100px 110px;
  padding-bottom: 60px;
  background-color: #f8f7f7;
  display: flex;
  flex-direction: column;
  /* height: 700px; */
  /* align-items: center; */
}
.join {
  color: #30d5c8;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
.australias {
  text-align: center;
  margin-top: 26px;
  /* width: 90%; */
  padding: 0px 50px;
  color: #0a0425;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 46px;
}
.trustpilot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  position: relative;
}
.trustpilot1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 4px;
}
.trustpilot1 img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25px;
  height: 32px;
}
.star {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.trustpilot3 {
  text-align: center;
  margin-top: 5px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
}
.card3Container {
  margin-top: 40px;
  display: flex;
}
.card3 {
  background-color: #ffffff;
  padding: 35px;
  margin-right: 24px;
  width: 40%;
  overflow-wrap: normal;
  border-radius: 8px;
}
.card3 div:nth-child(2) {
  margin-top: 50px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(10, 4, 37, 0.86);
}
.card3 div:nth-child(3) {
  margin-top: 50px;
  display: flex;
}
.card3 div:nth-child(3) img {
  width: 25%;
  height: auto;
  margin-right: 15px;
}
.card3 section {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.card3 section span:nth-child(1) {
  color: #0a0425;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 24px;
}
.card3 section span:nth-child(2) {
  color: rgba(10, 4, 37, 0.8);
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
}
.card3:nth-child(2) {
  border-bottom: 8px solid #0a0425;
}
.bottom {
  margin-top: 45px;
  margin-bottom: 0px;
  margin-inline: auto;
}

.container4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0a0425;
  padding: 40px 0px;
  text-align: center;
  align-items: center;
}
.container4 p:nth-child(1) {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
}
.container4 p:nth-child(2) {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 18px;
}
.container4 button {
  margin-top: 26px;
}

.container5 {
  width: 100%;
  background: #faf7f3;
  display: flex;
  padding: 90px 120px;
  justify-content: space-between;
}
.container5 .left {
  width: 40%;
}
.container5 .left h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 42px;
  color: #0a0425;
}
.container5 .left p {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 15px;
  color: rgba(10, 4, 37, 0.86);
  margin-top: 16px;
}
.container5 .right {
  width: 50%;
}
.container5 .right details {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 18px;
  border-radius: 10px;
  padding: 22px;
  border: 1px solid #f9d29e;
}
.container5 .right details summary {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 16px;
  color: #0a0425;
}
.container5 .right details p {
  margin-top: 10px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 15px;
  color: rgba(29, 38, 58, 0.9);
}

.container6 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
}
.container6 .left {
  width: 40%;
  margin-top: 150px;
}
.container6 .left h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 42px;
  color: #0a0425;
}
.container6 .left p {
  color: rgba(10, 4, 37, 0.86);
  margin-top: 12px;
  width: 80%;
}
.container6 .left img {
  margin-top: 28px;
  width: 130px;
  height: auto;
}
.container6 .right {
  width: 25%;
  height: auto;
}

.container7 {
  padding: 65px;
  background-color: #faf7f3;
  text-align: center;
  align-items: center;
}
.container7 h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 42px;
  color: #0a0425;
}
.container7 p {
  margin-top: 18px;
  margin-bottom: 27px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(10, 4, 37, 0.8);
}

@media screen and (max-width: 600px) {
  .headerDiv {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
  }
  .mainLeft {
    width: 100%;
    margin-top: 30px;
  }
  .inHome {
    font-size: 42px;
  }
  .selfCare {
    width: 100%;
  }
  .mainLeft div:nth-child(3) {
    width: 100%;
    justify-content: space-evenly;
  }
  .pics {
    width: 90%;
    margin-bottom: 0px;
  }
  .enjoy {
    font-size: 24px;
    width: 90%;
  }
  .container {
    justify-content: space-around;
  }
  .card {
    width: 45%;
    height: auto;
  }
  button {
    padding: 10px 20px;
  }
  .enjoy {
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .container2 {
    flex-wrap: wrap;
  }
  .card2 {
    width: 80%;
  }
  .grayDiv {
    display: none;
  }
  .thirdMain {
    margin-left: 50px;
    margin-top: 50px;
    width: 89%;
  }
  .thirdAbsPic {
    display: none;
  }
  .thirdHead {
    margin-top: 30px;
    font-size: 28px;
  }
  .thirdHead img {
    height: 35px;
  }
  .container3 {
    margin-top: 0;
    padding: 40px 10px;
  }
  .join {
    font-size: 18px;
  }
  .australias {
    margin-top: 10px;
    padding: 0;
    font-size: 32px;
  }
  .trustpilot {
    margin-top: 50px;
    width: 40%;
  }
  .card3Container {
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .card3:nth-child(1) {
    position: absolute;
    width: 70%;
    left: -62%;
  }
  .card3:nth-child(2) {
    width: 70%;
  }
  .card3:nth-child(3) {
    position: absolute;
    width: 70%;
    right: -62%;
  }

  .container5 {
    flex-direction: column;
    padding: 80px 50px;
  }
  .container5 .left {
    width: 100%;
  }
  .container5 .left p {
    display: none;
  }
  .container5 .right {
    width: 100%;
  }

  .container6 {
    flex-direction: column-reverse;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .container6 .left {
    margin-top: 30px;
    width: 100%;
  }
  .container6 .left p {
    width: 100%;
  }
  .container6 .right {
    width: 60%;
  }
}
